# **Lab: Neural Networks**

## Exercise 2: Binary Classification with Pytorch

In this exercise, we will build a a Neural Networks with Pytorch for predicting creditd card default. We will be woking on the Beijing Pollution dataset:
https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv

The steps are:
1.   Setup Repository
2.   Load and Explore Dataset
3.   Prepare Data
4.   Baseline Model
5.   Define Architecture
6.   Train Model
7.   Push Changes

### 1. Setup Repository

In [ ]:
! cd adv_dsi_lab_5
! git checkout -b pytorch_binary_class

### 2. Load and Explore Dataset

**[2.0]** Change Working Directory

In [2]:
cd /home/jovyan/work

/home/jovyan/work

In [3]:
! cat /etc/issue*

Ubuntu 20.04.4 LTS \n \l

Ubuntu 20.04.4 LTS

**[2.1]** Download the dataset into the `data/raw` folder:https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Beijing%20PM2.5/PRSA_data_2010.1.1-2014.12.31.csv

In [4]:
!wget -P data/raw https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv

--2022-03-08 08:40:11--  https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv
Resolving code.datasciencedojo.com (code.datasciencedojo.com)... 167.99.111.153
Connecting to code.datasciencedojo.com (code.datasciencedojo.com)|167.99.111.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2867294 (2.7M) [text/plain]
Saving to: ‘data/raw/default of credit card clients.csv’

default of credit c 100%[===================>]   2.73M  1.64MB/s    in 1.7s

2022-03-08 08:40:13 (1.64 MB/s) - ‘data/raw/default of credit card clients.csv’ saved [2867294/2867294]

**[2.2]** Launch the magic commands for auto-relaoding external modules

In [5]:
# Task: Launch the magic commands for auto-relaoding external modules
%load_ext autoreload
%autoreload 2

**[2.3]** Import the pandas and numpy packages

In [6]:
import pandas as pd
import numpy as np

**[2.4]** Load the data in a dataframe called `df`

In [10]:
df = pd.read_csv('data/raw/default of credit card clients.csv', skiprows=1)

In [11]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [12]:
df.shape

(30000, 25)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [14]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

### 3. Prepare Data

In [15]:
# Task: Create a copy of df and save it into a variable called df_cleaned
df_cleaned = df.copy()

In [16]:
# Task: Remove the column ID as it is an identifier for rows
df_cleaned.drop('ID', axis=1, inplace=True)

In [20]:
# Task: Create a variable called target_col that contains the name of the target variable
target_col = 'default payment next month'

In [21]:
# Task: Import StandardScaler and OneHotEncoder from sklearn.preprocessing
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [22]:
# Task: Create a list called cat_cols that contains SEX, EDUCATION, MARRIAGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6
cat_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

In [23]:
# Task: Create a list called num_cols that contains all numeric columns
num_cols = list(set(df_cleaned.columns) - (set(cat_cols) | set([target_col])))

In [24]:
# Task: Instantiate a StandardScaler and called it sc
sc = StandardScaler()

In [25]:
# Task: Fit and transform the numeric feature of X_train_cleaned and replace the data into it
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

In [26]:
# Task: Instantiate a OneHotEncoder and called it ohe
ohe = OneHotEncoder(sparse=False)

In [27]:
# Task: Perform One-Hot encoding on cat_cols and save them into a dataframe called X_cat
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

In [28]:
# Task: Extract the feature names from ohe and replace the names of the columns of the X_cat
X_cat.columns = ohe.get_feature_names(cat_cols)

/opt/conda/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [29]:
# Task: Drop the original columns of cat_cols from df_cleaned
df_cleaned.drop(cat_cols, axis=1, inplace=True)

In [30]:
# Task: Concatenate df_cleaned with X_cat and save the result to a variable called X
X = pd.concat([df_cleaned, X_cat], axis=1)

In [31]:
cd /home/jovyan/work

/home/jovyan/work

In [32]:
# Task: Import train_test_split from sklearn.model_selection
from src.data.sets import split_sets_random, save_sets

In [33]:
# Task: Split the data into training and testing sets with 80-20 ratio
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(X, target_col=target_col, test_ratio=0.2)

In [34]:
! mkdir data/processed/credit_card_default

In [35]:
# Task: Save the sets in the data/processed/credit_card_default folder
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='data/processed/credit_card_default/')

### 4. Baseline Model

In [36]:
# Task: Import NullModel from src.models.null
from src.models.null import NullModel

In [37]:
# Task: Instantiate a NullModel and call .fit_predict() on the training target to extract your predictions into a variable called y_base
base_model = NullModel(target_type="classification")
y_base = base_model.fit_predict(y_train)

In [40]:
from src.models.performance import print_class_perf

In [41]:
print_class_perf(y_base, y_train, set_name='Training', average='weighted')

Accuracy Training: 0.7787222222222222
F1 Training: 0.6818471055307425

### 5. Define Architecture

In [42]:
# Task: Import torch and torch.nn as nn
import torch
import torch.nn as nn
import torch.nn.functional as F

**[5.2]** Create in `src/models/pytorch.py` a class called `PytorchBinary` that inherits from `nn.Module` with:
- `num_features` as input parameter
- attributes:
    - `layer_1`: fully-connected layer with 256 neurons
    - `layer_out`: fully-connected layer with 1 neurons
    - `sigmoid`: sigmoid function
- methods:
    - `forward()` with `inputs` as input parameter, perform ReLU and DropOut on the fully-connected layer followed by the output layer with sigmoid

In [45]:
# Task: Create a class called PytorchBinary that inherits from nn.Module
class PytorchBinary(nn.Module):
    def __init__(self, num_features):
        super(PytorchBinary, self).__init__()
        
        self.layer_1 = nn.Linear(num_features, 256)
        self.layer_out = nn.Linear(256, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = F.dropout(F.relu(self.layer_1(x)))
        x = self.sigmoid(self.layer_out(x))
        return (x)

In [36]:
# Task: Instantiate PytorchBinary with the correct number of input feature and save it into a variable called model

In [46]:
model = PytorchBinary(X_train.shape[1])

In [47]:
def get_device():
    if torch.cuda.is_available():
        device = torch.device('cuda:0')
    else:
        device = torch.device('cpu') # don't have GPU 
    return device

In [48]:
device = get_device()
model.to(device)

PytorchBinary(
  (layer_1): Linear(in_features=91, out_features=256, bias=True)
  (layer_out): Linear(in_features=256, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)

In [49]:
# Task: Print the architecture of model
print(model)

PytorchBinary(
  (layer_1): Linear(in_features=91, out_features=256, bias=True)
  (layer_out): Linear(in_features=256, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)

In [50]:
torch.cuda.is_available()

False

### 6. Create Data Loader

In [51]:
# Task: Import Dataset and DataLoader from torch.utils.data
from torch.utils.data import Dataset, DataLoader

In [52]:
# Task: Create a class called PytorchDataset
class PytorchDataset(Dataset):
    """
    Pytorch dataset
    ...

    Attributes
    ----------
    X_tensor : Pytorch tensor
        Features tensor
    y_tensor : Pytorch tensor
        Target tensor

    Methods
    -------
    __getitem__(index)
        Return features and target for a given index
    __len__
        Return the number of observations
    to_tensor(data)
        Convert Pandas Series to Pytorch tensor
    """
        
    def __init__(self, X, y):
        self.X_tensor = self.to_tensor(X)
        self.y_tensor = self.to_tensor(y)
    
    def __getitem__(self, index):
        return self.X_tensor[index], self.y_tensor[index]
        
    def __len__ (self):
        return len(self.X_tensor)
    
    def to_tensor(self, data):
        return torch.Tensor(np.array(data))

In [53]:
# Task: Convert all numpy array sets to PytorchDataset
train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

### 7. Train Model

In [54]:
# Task: Instantiate a nn.BCELoss() and save it into a variable called criterion
criterion = nn.BCELoss()

In [56]:
# Task: Instantiate a torch.optim.Adam() optimizer with the model's parameters and 0.001 as learning rate and save it into a variable called optimizer
optimizer = torch.optim.Adam(model.parameters(), lr=0.0001)

In [57]:
# Task: Instantiate a torch.optim.lr_scheduler.StepLR() scheduler that will decrease the learning rate by a coefficient of 0.9 for each epoch
scheduler = torch.optim.lr_scheduler.StepLR(optimizer, 1, gamma=0.9)

In [58]:
# Create a function called `train_binary()` that will perform forward and back propagation and 
# calculate loss and Accuracy scores

def train_binary(train_data, model, criterion, optimizer, batch_size, device, scheduler=None, generate_batch=None):
    """Train a Pytorch binary classification model

    Parameters
    ----------
    train_data : torch.utils.data.Dataset
        Pytorch dataset
    model: torch.nn.Module
        Pytorch Model
    criterion: function
        Loss function
    optimizer: torch.optim
        Optimizer
    bacth_size : int
        Number of observations per batch
    device : str
        Name of the device used for the model
    scheduler : torch.optim.lr_scheduler
        Pytorch Scheduler used for updating learning rate
    collate_fn : function
        Function defining required pre-processing steps

    Returns
    -------
    Float
        Loss score
    Float:
        Accuracy Score
    """
    
    # Set model to training mode
    model.train()
    train_loss = 0
    train_acc = 0
    
    # Create data loader
    data = DataLoader(train_data, batch_size=batch_size, shuffle=True, collate_fn=generate_batch)
    
    # Iterate through data by batch of observations
    for feature, target_class in data:

        # Reset gradients
        optimizer.zero_grad()
        
        # Load data to specified device
        feature, target_class = feature.to(device), target_class.to(device).to(torch.float32)
        
        # Make predictions
        output = model(feature)
        
        # Calculate loss for given batch
        loss = criterion(output, target_class.unsqueeze(1))
        
        # Calculate global loss
        train_loss += loss.item()
        
        # Calculate gradients
        loss.backward()

        # Update Weights
        optimizer.step()
        
        # Calculate global accuracy
        train_acc += (output.argmax(1) == target_class).sum().item()

    # Adjust the learning rate
    if scheduler:
        scheduler.step()

    return train_loss / len(train_data), train_acc / len(train_data)

In [59]:
# Task: Create a function called `test_binary()` that will perform forward and calculate loss and accuracy scores

def test_binary(test_data, model, criterion, batch_size, device, generate_batch=None):
    """Calculate performance of a Pytorch binary classification model

    Parameters
    ----------
    test_data : torch.utils.data.Dataset
        Pytorch dataset
    model: torch.nn.Module
        Pytorch Model
    criterion: function
        Loss function
    bacth_size : int
        Number of observations per batch
    device : str
        Name of the device used for the model
    collate_fn : function
        Function defining required pre-processing steps

    Returns
    -------
    Float
        Loss score
    Float:
        Accuracy Score
    """    
    
    # Set model to evaluation mode
    model.eval()
    test_loss = 0
    test_acc = 0
    
    # Create data loader
    data = DataLoader(test_data, batch_size=batch_size, collate_fn=generate_batch)
    
    # Iterate through data by batch of observations
    for feature, target_class in data:
        
        # Load data to specified device
        feature, target_class = feature.to(device), target_class.to(device).to(torch.float32)
        
        # Set no update to gradients
        with torch.no_grad():
            
            # Make predictions
            output = model(feature)
            
            # Calculate loss for given batch
            loss = criterion(output, target_class.unsqueeze(1))

            # Calculate global loss
            test_loss += loss.item()
            
            # Calculate global accuracy
            test_acc += (output.argmax(1) == target_class).sum().item()

    return test_loss / len(test_data), test_acc / len(test_data)

In [60]:
# Task: Create 2 variables called N_EPOCHS and BATCH_SIZE that will take respectively 5 and 32 as values
N_EPOCHS = 10
BATCH_SIZE = 32

In [61]:
# Task: Create a for loop that will iterate through the specified number of epochs and 
# will train the model with the training set and assess the performance on the validation set and print their scores

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_binary(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device, scheduler=scheduler)
    valid_loss, valid_acc = test_binary(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	Loss: 0.0166	|	Acc: 77.9%
	(valid)	Loss: 0.0148	|	Acc: 77.9%
Epoch: 1
	(train)	Loss: 0.0145	|	Acc: 77.9%
	(valid)	Loss: 0.0142	|	Acc: 77.9%
Epoch: 2
	(train)	Loss: 0.0141	|	Acc: 77.9%
	(valid)	Loss: 0.0139	|	Acc: 77.9%
Epoch: 3
	(train)	Loss: 0.0139	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 4
	(train)	Loss: 0.0139	|	Acc: 77.9%
	(valid)	Loss: 0.0138	|	Acc: 77.9%
Epoch: 5
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 6
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 7
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 8
	(train)	Loss: 0.0137	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 9
	(train)	Loss: 0.0137	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%

In [62]:
# Task: Save the model into the models folder
torch.save(model, "models/pytorch_bin_default_card.pt")

### 8.   Assess Performance

In [63]:
# Task: Assess the model performance on the testing set and print its scores
test_loss, test_acc = test_binary(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tAccuracy: {test_acc:.1f}')

	Loss: 0.0135	|	Accuracy: 0.8

In [64]:
# Task: Add Changes to GIT
! git add .
! git commit -m "pytorch binary classification"

[master 9e62c9d] pytorch binary classification
 4 files changed, 3010 insertions(+), 1409 deletions(-)
 create mode 100644 models/pytorch_bin_default_card.pt
 create mode 100644 notebooks/2_pytorch_binary_classification.ipynb

In [55]:
! git config --global user.email "nathan@fragar.id.au"
! git config --global user.name "Nathan Fragar"

In [59]:
! git push --set upstream origin pytorch_reg

error: src refspec origin does not match any
error: failed to push some refs to 'upstream'